# Tables: Part 2 

### Table of Contents

1. Background Information
2. Comparing Counties
3. Looking at the Range

In [ ]:
# run this cell

from datascience import *
import numpy as np
import math
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
%matplotlib inline

Write introduction here!! Provide CES handout.

Ask what a census tract is!!

In [2]:
ces_data = Table.read_table("ces_data_v2.csv")

ces_data = ces_data.where("CES.3.0.Score", are.above(0))
ces_data = ces_data.where("Ozone", are.above(0))
ces_data = ces_data.where("PM2.5", are.above(0))
ces_data

Census.Tract | CES.3.0.Score | Total.Population | California.County | Hispanic.... | White.... | African.American.... | Native.American.... | Asian.American.... | Other.... | ZIP   | Longitude | Latitude | Ozone | PM2.5 | Diesel.PM | Drinking.Water | Pesticides | Tox..Release | Traffic | Cleanup.Sites | Groundwater.Threats | Haz..Waste | Imp..Water.Bodies | Solid.Waste | Pollution.Burden | Asthma | Low.Birth.Weight | Poverty | Unemployment
6019001100   | 94.09         | 3174             | Fresno            | 65.3         | 4.2       | 24.6                 | 0.5                 | 3.5                | 1.8       | 93706 | -119.782  | 36.7097  | 0.065 | 15.4  | 48.524    | 681.2          | 2.75       | 18552        | 909.14  | 80.5          | 45.75               | 0.795      | 0                 | 21.75       | 79.96            | 131.64 | 7.44             | 76.3    | 17.6
6071001600   | 90.68         | 6133             | San Bernardino    | 91.1         | 5.8       | 0.7                  | 0.3                 | 1.4                | 0.7       | 91761 | -117.618  | 34.0578  | 0.062 | 13.31 | 38.556    | 904.66         | 1.37       | 7494.24      | 782.26  | 66.2          | 36                  | 1.25       | 5                 | 12          | 81.19            | 60.66  | 7.04             | 72.5    | 12.3
6019000200   | 85.97         | 3167             | Fresno            | 63.6         | 5.3       | 18.9                 | 0.6                 | 9.8                | 1.8       | 93706 | -119.806  | 36.7355  | 0.062 | 15.4  | 47.445    | 681.2          | 3.03       | 12454.9      | 576.52  | 22            | 30.25               | 0.2        | 0                 | 2.5         | 71.16            | 142.12 | 10.16            | 86.8    | 16.1
6077000801   | 82.49         | 6692             | San Joaquin       | 57.4         | 6         | 12.5                 | 0.3                 | 20.9               | 2.8       | 95203 | -121.315  | 37.9405  | 0.046 | 12.54 | 24.117    | 278.76         | 12.93      | 2387.78      | 1305.01 | 50.1          | 132.1               | 0.795      | 19                | 27          | 74.48            | 142.17 | 6.23             | 61.3    | 19.6
6019001500   | 82.03         | 2206             | Fresno            | 71.8         | 21.4      | 1.2                  | 0.5                 | 4.5                | 0.6       | 93725 | -119.718  | 36.6816  | 0.065 | 15.4  | 18.846    | 1000.24        | 3518.41    | 21790.7      | 435.16  | 60            | 54.2                | 13.1       | 0                 | 50.8        | 80.2             | 90.48  | 4.5              | 66.4    | 18.6
6037204920   | 80.73         | 2598             | Los Angeles       | 98.1         | 1.2       | 0.1                  | 0.1                 | 0.2                | 0.3       | 90023 | -118.197  | 34.0175  | 0.046 | 12.89 | 56.52     | 714.48         | 0          | 39040.2      | 2943.44 | 36.7          | 25                  | 4.93       | 7                 | 3.85        | 76.73            | 68.74  | 7.35             | 66.4    | 11.6
6077000300   | 80.18         | 2396             | San Joaquin       | 51.8         | 16.4      | 16.4                 | 1.3                 | 9.9                | 4.1       | 95203 | -121.302  | 37.9524  | 0.046 | 13.44 | 21.76     | 278.76         | 172.49     | 707.536      | 885.52  | 89.7          | 149.05              | 0.135      | 14                | 2.3         | 68.27            | 169.56 | 8.36             | 76.2    | 14.4
6019001000   | 80.13         | 4106             | Fresno            | 52.7         | 2.7       | 28.7                 | 0.4                 | 14.3               | 1.2       | 93706 | -119.804  | 36.6978  | 0.065 | 15.4  | 20.848    | 788.02         | 1435.93    | 6996.96      | 243.54  | 15.45         | 20                  | 0          | 0                 | 10          | 66.88            | 142.28 | 7.83             | 74.5    | 20
6037206050   | 79.03         | 2146             | Los Angeles       | 79.3         | 8.9       | 4.1                  | 0.1                 | 7.2                | 0.5       | 90023 | -118.224  | 34.0299  | 0.046 | 12.89 | 53.958    | 664.07         | 0          | 10378.2      | 2810.82 | 36.05         | 16.25               | 10.025     | 7                 | 22.1        | 77.09            | 58.03  | 6.71             | 75.7    | 28.5
6019000400   | 78.53         | 6343             | Fresno            | 78           | 9.1       | 5.8                  | 0.8                 | 5.3                | 0.9       | 93721 | -119.776  | 36.7277  | 0.065 | 15.4  | 54.356    | 681.2          | 114.96     | 125384       | 815.36  | 15.95         | 13.5                | 0.755      | 0                 | 0.5         | 73.89            | 107.8  | 4.79             | 83.4    | 23.5
... (7901 rows omitted)

There are a _lot_ of functions that you could use on tables. In UC Berkeley's own introductory data science course, many students use a [Python reference sheet](http://data8.org/su22/python-reference.html). You don't need to understand everything on the sheet, but take a quick look and notice what kind of information each column contains. Then try to answer the following question by using the Python reference sheet.

<div class="alert alert-info">
    In the cell below, write code that evaluates to the number of rows and number of columns in the above table. Then, explain what each row in the table represents and the categories that the columns seem to fall under.
    </div>

In [3]:
num_rows = ces_data.num_rows
num_columns = ces_data.num_columns

print("There are ", num_rows, " rows and ", num_columns, " columns in this table.")

There are  7911  rows and  30  columns in this table.

_Written Answer:_

## Comparing Counties

Now that we have an idea of how much information we have in our table, let's try to look at some relationships in the data. Many of the table manipulations you have learned may come in handy here.

If you are having trouble figuring out which function to use, consider what you want your table to look like at the end. How many columns/rows should you have, and what should they look like? Then, compare that with what your table currently looks like and think of the steps you would take to get to the end result.

<div class="alert alert-info">
    Create a table with only the CES score, the name of county, the asthma rating, and three features that you think might be related to asthma rates.
    </div>

In [4]:
asthma_data = ces_data.select("CES.3.0.Score", "California.County", "Asthma", "Ozone", "PM2.5", "Diesel.PM")
asthma_data

CES.3.0.Score | California.County | Asthma | Ozone | PM2.5 | Diesel.PM
94.09         | Fresno            | 131.64 | 0.065 | 15.4  | 48.524
90.68         | San Bernardino    | 60.66  | 0.062 | 13.31 | 38.556
85.97         | Fresno            | 142.12 | 0.062 | 15.4  | 47.445
82.49         | San Joaquin       | 142.17 | 0.046 | 12.54 | 24.117
82.03         | Fresno            | 90.48  | 0.065 | 15.4  | 18.846
80.73         | Los Angeles       | 68.74  | 0.046 | 12.89 | 56.52
80.18         | San Joaquin       | 169.56 | 0.046 | 13.44 | 21.76
80.13         | Fresno            | 142.28 | 0.065 | 15.4  | 20.848
79.03         | Los Angeles       | 58.03  | 0.046 | 12.89 | 53.958
78.53         | Fresno            | 107.8  | 0.065 | 15.4  | 54.356
... (7901 rows omitted)

<div class="alert alert-info">
    Next, create a table that shows the counties of the ten cities with the <i>highest</i> CES scores. Recall that counties can repeat in this table and that tables will automatically show the first ten entries.
    </div>

In [5]:
highest_ces = asthma_data.sort("CES.3.0.Score", descending=True)
highest_ces

CES.3.0.Score | California.County | Asthma | Ozone | PM2.5 | Diesel.PM
94.09         | Fresno            | 131.64 | 0.065 | 15.4  | 48.524
90.68         | San Bernardino    | 60.66  | 0.062 | 13.31 | 38.556
85.97         | Fresno            | 142.12 | 0.062 | 15.4  | 47.445
82.49         | San Joaquin       | 142.17 | 0.046 | 12.54 | 24.117
82.03         | Fresno            | 90.48  | 0.065 | 15.4  | 18.846
80.73         | Los Angeles       | 68.74  | 0.046 | 12.89 | 56.52
80.18         | San Joaquin       | 169.56 | 0.046 | 13.44 | 21.76
80.13         | Fresno            | 142.28 | 0.065 | 15.4  | 20.848
79.03         | Los Angeles       | 58.03  | 0.046 | 12.89 | 53.958
78.53         | Fresno            | 107.8  | 0.065 | 15.4  | 54.356
... (7901 rows omitted)

<div class="alert alert-info">
    Now make a table that looks at the counties of the cities with the highest asthma values.
    </div>

In [6]:
highest_asthma = asthma_data.sort("Asthma", descending=True)
highest_asthma

CES.3.0.Score | California.County | Asthma | Ozone | PM2.5   | Diesel.PM
32.57         | San Bernardino    | 278.83 | 0.057 | 9.15089 | 1.229
35.26         | San Bernardino    | 249.59 | 0.055 | 7.83563 | 1.176
33.11         | Solano            | 223.3  | 0.035 | 7.85958 | 10.166
19.54         | Solano            | 223.3  | 0.035 | 7.85958 | 13.32
54.51         | San Bernardino    | 220.9  | 0.06  | 7.02123 | 17.148
51.28         | San Bernardino    | 220.9  | 0.06  | 7.02123 | 23.168
48.72         | San Bernardino    | 220.9  | 0.06  | 7.00068 | 16.296
43.38         | San Bernardino    | 220.9  | 0.06  | 6.99383 | 10.244
37.08         | San Bernardino    | 220.9  | 0.06  | 7.02123 | 4.528
27.95         | San Bernardino    | 220.9  | 0.06  | 6.99383 | 4.903
... (7901 rows omitted)

Do the counties shown in the last two tables look similar? Why might they be different? 

_Hint:_ Think about what CES ratings are composed of.

_Written Answer:_

Although we didn't see a clear relationship between the CES score and asthma rates, let's check the relationship between asthma rates and the characteristics (columns) you chose.

 <div class="alert alert-info">
    Find the ten tracts most <i>negatively</i> affected by the first characteristic you chose. Consider and explain what values would be a good/bad amount for this characteristic and use that to find those ten tracts. For example, high percentages of potable water are a good thing, but high percentages of contaminated water are a bad thing. Repeat the same process for the remaining two characteristics you chose.
    </div>

In [7]:
first_characteristic = asthma_data.sort("Ozone", descending=True)
first_characteristic

CES.3.0.Score | California.County | Asthma | Ozone | PM2.5 | Diesel.PM
63.49         | San Bernardino    | 83.09  | 0.068 | 12.47 | 21.938
62.28         | San Bernardino    | 118.49 | 0.068 | 12.05 | 32.75
58.44         | San Bernardino    | 65.42  | 0.068 | 11.63 | 18.677
57.66         | San Bernardino    | 77.91  | 0.068 | 12.47 | 22.284
55.85         | San Bernardino    | 128.74 | 0.068 | 12.05 | 32.746
55.59         | San Bernardino    | 125.78 | 0.068 | 12.05 | 32.75
54.41         | San Bernardino    | 83.14  | 0.068 | 12.89 | 24.593
51.24         | San Bernardino    | 65.8   | 0.068 | 12.05 | 18.677
51.09         | San Bernardino    | 47.92  | 0.068 | 12.05 | 36.2
50.03         | San Bernardino    | 119.48 | 0.068 | 12.05 | 15.52
... (7901 rows omitted)

In [8]:
second_characteristic = asthma_data.sort("PM2.5", descending=True)
second_characteristic

CES.3.0.Score | California.County | Asthma | Ozone | PM2.5 | Diesel.PM
69.89         | Kern              | 89.83  | 0.065 | 19.6  | 25.57
69.08         | Kern              | 86.67  | 0.065 | 19.6  | 25.148
65.67         | Kern              | 89.83  | 0.065 | 19.6  | 8.677
64.38         | Kern              | 89.83  | 0.065 | 19.6  | 25.646
45.17         | Kern              | 89.83  | 0.065 | 19.6  | 7.27
43.42         | Kern              | 70.38  | 0.062 | 19.6  | 21.73
38.56         | Kern              | 67.51  | 0.062 | 19.6  | 19.208
33.43         | Kern              | 71.04  | 0.062 | 19.6  | 16.981
32.79         | Kern              | 82.55  | 0.065 | 19.6  | 13.357
23.44         | Kern              | 75.27  | 0.062 | 19.6  | 14.744
... (7901 rows omitted)

In [9]:
third_characteristic = asthma_data.sort("Diesel.PM", descending=True)
third_characteristic

CES.3.0.Score | California.County | Asthma | Ozone | PM2.5  | Diesel.PM
22.49         | San Bernardino    | 12.39  | 0.057 | 6.1831 | 253.731
52.97         | Los Angeles       | 83.03  | 0.042 | 11.21  | 208.4
51.28         | Los Angeles       | 79.81  | 0.042 | 11.21  | 208.4
48.56         | Los Angeles       | 73.7   | 0.042 | 11.21  | 208.4
43.36         | Los Angeles       | 83.08  | 0.042 | 11.21  | 208.4
36.94         | Los Angeles       | 77.98  | 0.042 | 11.21  | 208.4
35.49         | Los Angeles       | 83.08  | 0.042 | 11.21  | 208.4
37.21         | Los Angeles       | 73.31  | 0.042 | 11.21  | 194.972
64.47         | Los Angeles       | 112.42 | 0.042 | 11.21  | 169.243
49.89         | Los Angeles       | 101.72 | 0.042 | 11.21  | 163.328
... (7901 rows omitted)

The first ten counties in your table(s) might look similar to those in the `highest_asthma` table. They also might not.

If the counties are similar in any table to the `highest_asthma` table, explain why you think that might be. For all other tables, describe anything interesting you see.

_Written Answer:_

## Looking at the Range of Values

It's important to know how the values in each column are measured and interpreted. We might assume that we're looking at counts or percentages, but sometimes data is collected in an unconventional way or in a way that we hadn't thought about.

Consult the CalEnviroScreen report to learn a little more about asthma and the three features you chose. Then answer the following question about them.

 <div class="alert alert-info">
    Find out the range (the difference between the largest number and smallest number) of values in the "Asthma" column. Once you see the range of numbers, write down how you think "Asthma" might have been measured. Then, check the CalEnviroScreen report to check whether your guess was correct, and list how the measurement differed. Then, repeat this process for the features you chose.
    </div>

In [11]:
asthma_largest = highest_asthma.column("Asthma").item(0)

asthma_smallest = highest_asthma.column("Asthma").item(-1)
asthma_diff = asthma_largest - asthma_smallest

print("The largest value in the Asthma column is ", asthma_largest, ".")
print("The smallest value in the Asthma column is ", asthma_smallest, ".")
print("The range in the Asthma column is ", asthma_diff, ".")

The largest value in the Asthma column is  278.83 .
The smallest value in the Asthma column is  3.63 .
The range in the Asthma column is  275.2 .

_Written Answer:_

In [12]:
first_largest = first_characteristic.column("Ozone").item(0)

first_smallest = first_characteristic.column("Ozone").item(-1)
first_diff = first_largest - first_smallest

print("The largest value in the ... column is ", first_largest, ".")
print("The smallest value in the ... column is ", first_smallest, ".")
print("The range in the ... column is ", first_diff, ".")

The largest value in the ... column is  0.068 .
The smallest value in the ... column is  0.026 .
The range in the ... column is  0.04200000000000001 .

_Written Answer:_

In [13]:
second_largest = second_characteristic.column("PM2.5").item(0)

second_smallest = second_characteristic.column("PM2.5").item(-1)
second_diff = second_largest - second_smallest

print("The largest value in the ... column is ", second_largest, ".")
print("The smallest value in the ... column is ", second_smallest, ".")
print("The range in the ... column is ", second_diff, ".")

The largest value in the ... column is  19.6 .
The smallest value in the ... column is  1.65108149 .
The range in the ... column is  17.948918510000002 .

_Written Answer:_

In [14]:
third_largest = third_characteristic.column("Diesel.PM").item(0)

third_smallest = third_characteristic.column("Diesel.PM").item(-1)
third_diff = third_largest - third_smallest

print("The largest value in the ... column is ", third_largest, ".")
print("The smallest value in the ... column is ", third_smallest, ".")
print("The range in the ... column is ", third_diff, ".")

The largest value in the ... column is  253.731 .
The smallest value in the ... column is  0.021 .
The range in the ... column is  253.71 .

_Written Answer:_

Now that you have looked at many characteristics of the data

_Written Answer:_