# BUDS Report 04: Tables Pt. 2 

### Table of Contents

1. <a href='#section 1'>Background Information</a>
2. <a href='#section 2'>Comparing Counties</a>
3. <a href='#section 3'>Looking at the Range</a>

In [1]:
# run this cell

from datascience import *
import numpy as np
import math
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
%matplotlib inline

## 1. Background Information <a id='section 1'></a>

At this point, you should have discussed your knowledge about pollution with your team and looked at the CalEnviroScreen website. Even with extensive previous knowledge about the environment, there may have been a lot of details that you might not have considered. Even more extensive details can be found [here](https://oehha.ca.gov/media/downloads/calenviroscreen/report/calenviroscreen40reportf2021.pdf) at the official CalEnviroScreen report.

Load the data below to see how our table contains the characteristics that the CES report indicated and what additional information is provided.

In [2]:
ces_data = Table.read_table("ces_data_v2.csv")
ces_data

Census.Tract | CES.3.0.Score | Total.Population | California.County | Hispanic.... | White.... | African.American.... | Native.American.... | Asian.American.... | Other.... | ZIP   | Longitude | Latitude | Ozone | PM2.5 | Diesel.PM | Drinking.Water | Pesticides | Tox..Release | Traffic | Cleanup.Sites | Groundwater.Threats | Haz..Waste | Imp..Water.Bodies | Solid.Waste | Pollution.Burden | Asthma | Low.Birth.Weight | Poverty | Unemployment
6019001100   | 94.09         | 3174             | Fresno            | 65.3         | 4.2       | 24.6                 | 0.5                 | 3.5                | 1.8       | 93706 | -119.782  | 36.7097  | 0.065 | 15.4  | 48.524    | 681.2          | 2.75       | 18552        | 909.14  | 80.5          | 45.75               | 0.795      | 0                 | 21.75       | 79.96            | 131.64 | 7.44             | 76.3    | 17.6
6071001600   | 90.68         | 6133             | San Bernardino    | 91.1         | 5.8       | 0.7                  | 0.3                 | 1.4                | 0.7       | 91761 | -117.618  | 34.0578  | 0.062 | 13.31 | 38.556    | 904.66         | 1.37       | 7494.24      | 782.26  | 66.2          | 36                  | 1.25       | 5                 | 12          | 81.19            | 60.66  | 7.04             | 72.5    | 12.3
6019000200   | 85.97         | 3167             | Fresno            | 63.6         | 5.3       | 18.9                 | 0.6                 | 9.8                | 1.8       | 93706 | -119.806  | 36.7355  | 0.062 | 15.4  | 47.445    | 681.2          | 3.03       | 12454.9      | 576.52  | 22            | 30.25               | 0.2        | 0                 | 2.5         | 71.16            | 142.12 | 10.16            | 86.8    | 16.1
6077000801   | 82.49         | 6692             | San Joaquin       | 57.4         | 6         | 12.5                 | 0.3                 | 20.9               | 2.8       | 95203 | -121.315  | 37.9405  | 0.046 | 12.54 | 24.117    | 278.76         | 12.93      | 2387.78      | 1305.01 | 50.1          | 132.1               | 0.795      | 19                | 27          | 74.48            | 142.17 | 6.23             | 61.3    | 19.6
6019001500   | 82.03         | 2206             | Fresno            | 71.8         | 21.4      | 1.2                  | 0.5                 | 4.5                | 0.6       | 93725 | -119.718  | 36.6816  | 0.065 | 15.4  | 18.846    | 1000.24        | 3518.41    | 21790.7      | 435.16  | 60            | 54.2                | 13.1       | 0                 | 50.8        | 80.2             | 90.48  | 4.5              | 66.4    | 18.6
6037204920   | 80.73         | 2598             | Los Angeles       | 98.1         | 1.2       | 0.1                  | 0.1                 | 0.2                | 0.3       | 90023 | -118.197  | 34.0175  | 0.046 | 12.89 | 56.52     | 714.48         | 0          | 39040.2      | 2943.44 | 36.7          | 25                  | 4.93       | 7                 | 3.85        | 76.73            | 68.74  | 7.35             | 66.4    | 11.6
6077000300   | 80.18         | 2396             | San Joaquin       | 51.8         | 16.4      | 16.4                 | 1.3                 | 9.9                | 4.1       | 95203 | -121.302  | 37.9524  | 0.046 | 13.44 | 21.76     | 278.76         | 172.49     | 707.536      | 885.52  | 89.7          | 149.05              | 0.135      | 14                | 2.3         | 68.27            | 169.56 | 8.36             | 76.2    | 14.4
6019001000   | 80.13         | 4106             | Fresno            | 52.7         | 2.7       | 28.7                 | 0.4                 | 14.3               | 1.2       | 93706 | -119.804  | 36.6978  | 0.065 | 15.4  | 20.848    | 788.02         | 1435.93    | 6996.96      | 243.54  | 15.45         | 20                  | 0          | 0                 | 10          | 66.88            | 142.28 | 7.83             | 74.5    | 20
6037206050   | 79.03         | 2146             | Los Angeles       | 79.3         | 8.9       | 4.1                  | 0.1                 | 7.2                | 0.5       | 90023 | -118.224  | 34.0299  | 0.046 | 12.89 | 53.958    | 664.07         | 0          | 10378.2      | 2810.82 | 36.05         | 16.25               | 10.025     | 7                 | 22.1        | 77.09            | 58.03  | 6.71             | 75.7    | 28.5
6019000400   | 78.53         | 6343             | Fresno            | 78           | 9.1       | 5.8                  | 0.8                 | 5.3                | 0.9       | 93721 | -119.776  | 36.7277  | 0.065 | 15.4  | 54.356    | 681.2          | 114.96     | 125384       | 815.36  | 15.95         | 13.5                | 0.755      | 0                 | 0.5         | 73.89            | 107.8  | 4.79             | 83.4    | 23.5
... (8014 rows omitted)

There are a _lot_ of functions that you could use on tables. In UC Berkeley's own introductory data science course, many students use a [Python reference sheet](http://data8.org/su22/python-reference.html). You don't need to understand everything on the sheet, but take a quick look and notice what kind of information each column contains. Then try to answer the following question by using the Python reference sheet. You can keep it open for the rest of the report as it's hard to remember all the functions.

<div class="alert alert-warning">
<b>PRACTICE:</b> In the cell below, write code that evaluates to the number of rows and number of columns in the above table. Then, explain what each row in the table represents and the categories that the columns seem to fall under.
    </div>

In [4]:
ces_num_rows = ces_data.num_rows
ces_num_columns = ces_data.num_columns

print("There are ", ces_num_rows, " rows and ", ces_num_columns, " columns in this table.")

There are  8024  rows and  30  columns in this table.

In [5]:
# SOLUTION
ces_num_rows = ces_data.num_rows
ces_num_columns = ces_data.num_columns

print("There are ", ces_num_rows, " rows and ", ces_num_columns, " columns in this table.")

There are  8024  rows and  30  columns in this table.

_Written Answer:_

## 2. Comparing Counties <a id='section 2'></a>

Now that we have an idea of how much information we have in our table, let's try to look at some relationships in the data. Many of the table manipulations you have learned may come in handy here.

If you are having trouble figuring out which function to use, consider what you want your table to look like at the end. How many columns/rows should you have, and what should they look like? Then, compare that with what your table currently looks like and think of the steps you would take to get to the end result.

<div class="alert alert-warning">
<b>PRACTICE:</b> Create a table with only the CES score, the name of county, the asthma rating, and three features that you think might be related to asthma rates. Call this table `asthma_data` and be sure that you do not pick latitude or longitude. Feel free to relabel the column names but keep the new names in mind as you continue.
    </div>

In [6]:
asthma_data = ...
asthma_data

Ellipsis

In [7]:
# SOLUTION
asthma_data = ces_data.select("CES.3.0.Score", "California.County", "Asthma", "Ozone", "PM2.5", "Diesel.PM")
asthma_data

CES.3.0.Score | California.County | Asthma | Ozone | PM2.5 | Diesel.PM
94.09         | Fresno            | 131.64 | 0.065 | 15.4  | 48.524
90.68         | San Bernardino    | 60.66  | 0.062 | 13.31 | 38.556
85.97         | Fresno            | 142.12 | 0.062 | 15.4  | 47.445
82.49         | San Joaquin       | 142.17 | 0.046 | 12.54 | 24.117
82.03         | Fresno            | 90.48  | 0.065 | 15.4  | 18.846
80.73         | Los Angeles       | 68.74  | 0.046 | 12.89 | 56.52
80.18         | San Joaquin       | 169.56 | 0.046 | 13.44 | 21.76
80.13         | Fresno            | 142.28 | 0.065 | 15.4  | 20.848
79.03         | Los Angeles       | 58.03  | 0.046 | 12.89 | 53.958
78.53         | Fresno            | 107.8  | 0.065 | 15.4  | 54.356
... (8014 rows omitted)

In order to use our data, we learned that we need to *clean* our data. Sometimes there are values that could not be collected, so their values in the table are a little weird. These are denoted with values that show up as `nan`. You don't need to know what that means, but we do need to get rid of these values in our data.

Set `characteristics` to a new array containing the string "CES3.0.Data", the string "Asthma", and the labels of all your chosen characteristics. Then run the following cell to clean some of your data. You **don't** need to know what is happening in this cell, but feel free to ask your facilitators what is happening conceptually.

In [8]:
characteristics = ...

for characteristic in characteristics:
    asthma_data = asthma_data.where(characteristic, are.above_or_equal_to(0))
    
asthma_data

TypeError: 'ellipsis' object is not iterable

In [9]:
# SOLUTION
characteristics = make_array("CES.3.0.Score", "Asthma", "Ozone", "PM2.5", "Diesel.PM")

for characteristic in characteristics:
    asthma_data = asthma_data.where(characteristic, are.above_or_equal_to(0))
    
asthma_data

CES.3.0.Score | California.County | Asthma | Ozone | PM2.5 | Diesel.PM
94.09         | Fresno            | 131.64 | 0.065 | 15.4  | 48.524
90.68         | San Bernardino    | 60.66  | 0.062 | 13.31 | 38.556
85.97         | Fresno            | 142.12 | 0.062 | 15.4  | 47.445
82.49         | San Joaquin       | 142.17 | 0.046 | 12.54 | 24.117
82.03         | Fresno            | 90.48  | 0.065 | 15.4  | 18.846
80.73         | Los Angeles       | 68.74  | 0.046 | 12.89 | 56.52
80.18         | San Joaquin       | 169.56 | 0.046 | 13.44 | 21.76
80.13         | Fresno            | 142.28 | 0.065 | 15.4  | 20.848
79.03         | Los Angeles       | 58.03  | 0.046 | 12.89 | 53.958
78.53         | Fresno            | 107.8  | 0.065 | 15.4  | 54.356
... (7901 rows omitted)

In this notebook cleaning our data consisted of getting rid of tracts that had missing values. Can you see a potential issue with this method? Can you think of other ways we might alleviate this issue?

_Written Answer:_

<div class="alert alert-warning">
<b>PRACTICE:</b> Next, create a table that shows the counties of the ten cities with the <i>highest</i> CES scores. Recall that counties can repeat in this table and that tables will automatically show the first ten entries.
    </div>

In [10]:
highest_ces = ...
highest_ces

Ellipsis

In [11]:
# SOLUTION
highest_ces = asthma_data.sort("CES.3.0.Score", descending=True)
highest_ces

CES.3.0.Score | California.County | Asthma | Ozone | PM2.5 | Diesel.PM
94.09         | Fresno            | 131.64 | 0.065 | 15.4  | 48.524
90.68         | San Bernardino    | 60.66  | 0.062 | 13.31 | 38.556
85.97         | Fresno            | 142.12 | 0.062 | 15.4  | 47.445
82.49         | San Joaquin       | 142.17 | 0.046 | 12.54 | 24.117
82.03         | Fresno            | 90.48  | 0.065 | 15.4  | 18.846
80.73         | Los Angeles       | 68.74  | 0.046 | 12.89 | 56.52
80.18         | San Joaquin       | 169.56 | 0.046 | 13.44 | 21.76
80.13         | Fresno            | 142.28 | 0.065 | 15.4  | 20.848
79.03         | Los Angeles       | 58.03  | 0.046 | 12.89 | 53.958
78.53         | Fresno            | 107.8  | 0.065 | 15.4  | 54.356
... (7901 rows omitted)

<div class="alert alert-warning">
<b>PRACTICE:</b> Now make a table that looks at the counties of the cities with the highest asthma values.
    </div>

In [12]:
# SOLUTION
highest_asthma = ...
highest_asthma

Ellipsis

In [13]:
# SOLUTION
highest_asthma = asthma_data.sort("Asthma", descending=True)
highest_asthma

CES.3.0.Score | California.County | Asthma | Ozone | PM2.5   | Diesel.PM
32.57         | San Bernardino    | 278.83 | 0.057 | 9.15089 | 1.229
35.26         | San Bernardino    | 249.59 | 0.055 | 7.83563 | 1.176
33.11         | Solano            | 223.3  | 0.035 | 7.85958 | 10.166
19.54         | Solano            | 223.3  | 0.035 | 7.85958 | 13.32
54.51         | San Bernardino    | 220.9  | 0.06  | 7.02123 | 17.148
51.28         | San Bernardino    | 220.9  | 0.06  | 7.02123 | 23.168
48.72         | San Bernardino    | 220.9  | 0.06  | 7.00068 | 16.296
43.38         | San Bernardino    | 220.9  | 0.06  | 6.99383 | 10.244
37.08         | San Bernardino    | 220.9  | 0.06  | 7.02123 | 4.528
27.95         | San Bernardino    | 220.9  | 0.06  | 6.99383 | 4.903
... (7901 rows omitted)

Do the counties shown in the last two tables look similar? Why might they be different? 

_Hint:_ Think about what CES ratings are composed of.

_Written Answer:_

Although we didn't see a clear relationship between the CES score and asthma rates, let's check the relationship between asthma rates and the characteristics (columns) you chose.

<div class="alert alert-warning">
<b>PRACTICE:</b> Find the ten tracts most <i>negatively</i> affected by the first characteristic you chose. Consider and explain what values would be a good/bad amount for this characteristic and use that to find those ten tracts. For example, high percentages of potable water are a good thing, but high percentages of contaminated water are a bad thing. Repeat the same process for the remaining two characteristics you chose.
    </div>
    
To standardize your table names, you can name it something like `highest_ozone` or `lowest_ozone` depending on what you're calculating.

In [14]:
# put your first characteristic here
...

In [15]:
# SOLUTION
highest_ozone = asthma_data.sort("Ozone", descending=True)
highest_ozone

CES.3.0.Score | California.County | Asthma | Ozone | PM2.5 | Diesel.PM
63.49         | San Bernardino    | 83.09  | 0.068 | 12.47 | 21.938
62.28         | San Bernardino    | 118.49 | 0.068 | 12.05 | 32.75
58.44         | San Bernardino    | 65.42  | 0.068 | 11.63 | 18.677
57.66         | San Bernardino    | 77.91  | 0.068 | 12.47 | 22.284
55.85         | San Bernardino    | 128.74 | 0.068 | 12.05 | 32.746
55.59         | San Bernardino    | 125.78 | 0.068 | 12.05 | 32.75
54.41         | San Bernardino    | 83.14  | 0.068 | 12.89 | 24.593
51.24         | San Bernardino    | 65.8   | 0.068 | 12.05 | 18.677
51.09         | San Bernardino    | 47.92  | 0.068 | 12.05 | 36.2
50.03         | San Bernardino    | 119.48 | 0.068 | 12.05 | 15.52
... (7901 rows omitted)

In [16]:
# put your second characteristic here
...

In [17]:
# SOLUTION
highest_pm25 = asthma_data.sort("PM2.5", descending=True)
highest_pm25

CES.3.0.Score | California.County | Asthma | Ozone | PM2.5 | Diesel.PM
69.89         | Kern              | 89.83  | 0.065 | 19.6  | 25.57
69.08         | Kern              | 86.67  | 0.065 | 19.6  | 25.148
65.67         | Kern              | 89.83  | 0.065 | 19.6  | 8.677
64.38         | Kern              | 89.83  | 0.065 | 19.6  | 25.646
45.17         | Kern              | 89.83  | 0.065 | 19.6  | 7.27
43.42         | Kern              | 70.38  | 0.062 | 19.6  | 21.73
38.56         | Kern              | 67.51  | 0.062 | 19.6  | 19.208
33.43         | Kern              | 71.04  | 0.062 | 19.6  | 16.981
32.79         | Kern              | 82.55  | 0.065 | 19.6  | 13.357
23.44         | Kern              | 75.27  | 0.062 | 19.6  | 14.744
... (7901 rows omitted)

In [18]:
# put your third characteristic here
...

In [19]:
# SOLUTION
highest_diesel = asthma_data.sort("Diesel.PM", descending=True)
highest_diesel

CES.3.0.Score | California.County | Asthma | Ozone | PM2.5  | Diesel.PM
22.49         | San Bernardino    | 12.39  | 0.057 | 6.1831 | 253.731
52.97         | Los Angeles       | 83.03  | 0.042 | 11.21  | 208.4
51.28         | Los Angeles       | 79.81  | 0.042 | 11.21  | 208.4
48.56         | Los Angeles       | 73.7   | 0.042 | 11.21  | 208.4
43.36         | Los Angeles       | 83.08  | 0.042 | 11.21  | 208.4
36.94         | Los Angeles       | 77.98  | 0.042 | 11.21  | 208.4
35.49         | Los Angeles       | 83.08  | 0.042 | 11.21  | 208.4
37.21         | Los Angeles       | 73.31  | 0.042 | 11.21  | 194.972
64.47         | Los Angeles       | 112.42 | 0.042 | 11.21  | 169.243
49.89         | Los Angeles       | 101.72 | 0.042 | 11.21  | 163.328
... (7901 rows omitted)

The first ten counties in your table(s) might look similar to those in the `highest_asthma` table. They also might not.

If the counties are similar in any table to the `highest_asthma` table, explain why you think that might be. For all other tables, describe anything interesting you see.

_Written Answer:_

## 3. Looking at the Range of Values <a id='section 3'></a>

It's important to know how the values in each column are measured and interpreted. We might assume that we're looking at counts or percentages, but sometimes data is collected in an unconventional way or in a way that we hadn't thought about.

Consult the CalEnviroScreen report to learn a little more about asthma and the three features you chose. Then answer the following question about them.

 <div class="alert alert-warning">
<b>PRACTICE:</b> Find out the range (the difference between the largest number and smallest number) of values in the "Asthma" column. To do so, use the tables you created in the previous section. Feel free to also create new tables that are similar to them. Once you see the range of numbers, write down how you think "Asthma" might have been measured. Then, check the CalEnviroScreen report to check whether your guess was correct, and list how the measurement differed. Then, repeat this process for the features you chose.
    </div>

In [ ]:
# find the largest asthma value
asthma_largest = ...

# create a new table of the counties with the lowest asthma values
# then find the smallest value and the difference
lowest_asthma = ...
asthma_smallest = ...

asthma_diff = ...

print("The largest value in the Asthma column is ", asthma_largest, ".")
print("The smallest value in the Asthma column is ", asthma_smallest, ".")
print("The range in the Asthma column is ", asthma_diff, ".")

In [ ]:
# SOLUTION
asthma_largest = highest_asthma.column("Asthma").item(0)

lowest_asthma = asthma_data.sort("Asthma")
asthma_smallest = lowest_asthma.column("Asthma").item(0)

asthma_diff = asthma_largest - asthma_smallest

print("The largest value in the Asthma column is ", asthma_largest, ".")
print("The smallest value in the Asthma column is ", asthma_smallest, ".")
print("The range in the Asthma column is ", asthma_diff, ".")

_Written Answer:_

In [ ]:
# first characteristic
# do a similar process as you did in the cell before
# feel free to copy and paste code but be sure to change any names that would differ
...

In [ ]:
# SOLUTION
ozone_largest = highest_ozone.column("Ozone").item(0)

lowest_ozone = asthma_data.sort("Ozone")
ozone_smallest = lowest_ozone.column("Ozone").item(0)
ozone_diff = ozone_largest - ozone_smallest

print("The largest value in the ... column is ", ozone_largest, ".")
print("The smallest value in the ... column is ", ozone_smallest, ".")
print("The range in the ... column is ", ozone_diff, ".")

_Written Answer:_

In [ ]:
# second characteristic
# do a similar process as you did in the cell before
# feel free to copy and paste code but be sure to change any names that would differ
...

In [ ]:
# SOLUTION
pm25_largest = highest_pm25.column("PM2.5").item(0)

lowest_pm25 = asthma_data.sort("PM2.5")
pm25_smallest = lowest_pm25.column("PM2.5").item(0)
pm25_diff = pm25_largest - pm25_smallest

print("The largest value in the ... column is ", pm25_largest, ".")
print("The smallest value in the ... column is ", pm25_smallest, ".")
print("The range in the ... column is ", pm25_diff, ".")

_Written Answer:_

In [ ]:
# third characteristic
# do a similar process as you did in the cell before
# feel free to copy and paste code but be sure to change any names that would differ
...

In [ ]:
# SOLUTION
diesel_largest = highest_diesel.column("Diesel.PM").item(0)

lowest_diesel = asthma_data.sort("Diesel.PM")
diesel_smallest = lowest_diesel.column("Diesel.PM").item(0)
diesel_diff = diesel_largest - diesel_smallest

print("The largest value in the ... column is ", diesel_largest, ".")
print("The smallest value in the ... column is ", diesel_smallest, ".")
print("The range in the ... column is ", diesel_diff, ".")

_Written Answer:_

That process might have been tedious, but you might have learned a lot about the values under each column. For example, do you feel like we can make comparisons between the different characteristics using these scales?

Recall how [CES scores](https://drive.google.com/file/d/1i8Jr_y_Q49Kkf2fTzcwYXh-uYUIjiHlJ/view) are calculated. What problems could arise with the CalEnviroScreen formula if some of our characteristics tend to be really small while others are really large and if some of our characteristics have a wide range while others do not?

_Written Answer:_

Now that we know how a CES score is calculated and what pitfalls might come with it, let's look at the range of CES scores for counties. Because there's so many different ways to code the same result, we'll do this section a little bit differently from what we did before. This way, you'll get exposure to a variety of methods.

To simplify this task, let's only look at bay area counties. Assign the variable `bay_counties` to an array of bay area counties. Recall that in Report 03, we encountered some column names that were labeled weirdly. Some of the values under "California.County" might also be labeled like this, so try accessing some of those values or adding whitespace to your strings.

Again, you don't need to understand what is happening in the last line; just know that it is filtering out all non-bay area counties.

In [ ]:
bay_counties = ...

bay_data = asthma_data.where("California.County", are.contained_in(bay_counties))
bay_data

In [ ]:
# SOLUTION
bay_counties = make_array("Alameda ", "Contra Costa", "Marin ", "Napa ", "San Francisco", 
                          "San Mateo", "Santa Clara", "Solano ", "Sonoma ")

bay_data = asthma_data.where("California.County", are.contained_in(bay_counties))
bay_data

<div class="alert alert-warning">
<b>PRACTICE:</b> Now that we are only working with bay area data, let's try to find the highest CES scores for each county. Create a table that contains the name of the county and its highest CES score. Try thinking of a way that we can do this using the <code>sort</code> method.
    </div>

In [ ]:
bay_highest_ces = bay_data.sort("CES.3.0.Score", descending=True).sort("California.County", distinct=True)
bay_highest_ces = bay_highest_ces.select("CES.3.0.Score", "California.County")
bay_highest_ces

Once you've done that, repeat the process for the *lowest* CES scores of each county. Then, describe the discrepancies you see in CES scores. Why might we see such large (or small discrepancies)? Do you have background knowledge on these counties that might explain what you see? Discuss with your team.

In [ ]:
bay_lowest_ces = bay_data.sort("CES.3.0.Score").sort("California.County", distinct=True)
bay_lowest_ces = bay_lowest_ces.select("CES.3.0.Score", "California.County")
bay_lowest_ces

_Written Answer:_

### Downloading as PDF

Download this notebook as a pdf by clicking <b><code>File > Download as > PDF via LaTeX</code></b>. Turn in the PDF into bCourses under the corresponding assignment.